<div class="sentiment-container">
  <h3 class="sentiment-title">{{company}}</h3>
  <ul>
    <ng-container *ngFor="let data of stockData">
      <li *ngIf="data; else noData">
        <div class="month">{{data.month}}/{{data.year}}</div>
        <div class="price-change"> Change: {{data.change}}</div>
        <div class="mspr">MSPR: {{data.mspr}}</div>
        <div class="up-arrow" *ngIf="data.change > 0; else downArrow">🡱</div>
        <ng-template #downArrow>
          <div class="down-arrow">🡳</div>
        </ng-template>
      </li>
        <ng-template #noData> No data Available</ng-template>
    </ng-container>
  </ul>
</div>
<button id="backBtn" (click)="goBack()">Go Back</button>